body {
   background: #edf0f2 !important;
   /*#f5f5f5 - lighter | #edf0f2 - little blue*/
}

#login-screen {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

#login-card {
   padding: 50px 70px;
}

#dashboard {
   width: 100vw;
   height: 100vh;
   width: 100vw;
   height: 100vh;
   /*display: flex;
    justify-content: center;
    align-items: center;*/
}

#side-navbar {
   width: 300px;
   height: 100%;
   background: #fff;
   /*f1f1f1*/
   position: fixed;
   overflow-y: scroll;
   overflow-x: hidden;
}

#side-navbar a {
   padding: 20px 30px;
   display: block;
   text-decoration: none;
   color: black;
}

#side-navbar a:hover {
   background: #dcdcdc;
   /*#dcdcdc*/
}

/*тег для кнопки*/
#side-navbar a span {
   position: absolute;
   right: 5px;
}

#side-navbar .current-tab {
   background: #e8e8e8;
   border-left: 5px solid #5693b7;
}

.side-logo {
   height: auto;
   border-bottom: 1px solid #e4e4e4;
}

#main-wrapper {
   padding-left: 300px;
}

.nav-button {
   display: flex !important;
   align-items: center;
}

.nav-button i {
   color: #b9b9b9;
   margin-right: 20px;
}

.content-block h2 {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 600;
}

/*calendar modal in page modal fix*/
#add-modal .datepicker-container {
   height: auto;
   position: relative;
}

.help-icon {
   display: flex !important;
   align-items: center;
}

.flex-col {
   display: flex;
   align-items: center;
}

.flex-col .input-field {
   width: 100%;
}

.product-table tbody tr:hover {
   background: #dce9f5;
   cursor: pointer;
}

.delete-row-button {
   display: block;
   width: 100%;
   height: 100%;
   color: grey;
}

.delete-row-button:hover {
   color: #de4545;
}

.input-field ul {
   max-height: 250px !important;
}

.message-card {
   display: flex;
   justify-content: space-between;
}

.message-card .close-message {
   display: flex;
   text-decoration: none;
   color: black;
   cursor: pointer;
}

.fadeIn {
   animation-name: fadein;
   animation-duration: 0.5s;
}

@keyframes fadein {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.operation-title {
   display: flex;
   align-items: center;
}

.operation-icon {
   font-size: 30px;
   color: #bbb;
   margin-right: 5px;
}

.admin-edit-bar {
   margin-bottom: 30px;
}

.info-message {
   background: #f9f9b2;
   padding: 10px;
}