body {
   background: #edf0f2 !important;
   /*#f5f5f5 - lighter | #edf0f2 - little blue*/
}

#login-screen {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

#login-card {
   padding: 50px 70px;
}

#dashboard {
   width: 100vw;
   height: 100vh;
   width: 100vw;
   height: 100vh;
   /*display: flex;
    justify-content: center;
    align-items: center;*/
}

#side-navbar {
   width: 300px;
   height: 100%;
   background: #fff;
   /*f1f1f1*/
   position: fixed;
   overflow-y: scroll;
   overflow-x: hidden;
}

#side-navbar a {
   padding: 20px 30px;
   display: block;
   text-decoration: none;
   color: black;
}

#side-navbar a:hover {
   background: #dcdcdc;
}

.side-logo {
   height: auto;
   border-bottom: 1px solid #e4e4e4;
}

#main-wrapper {
   padding-left: 300px;
}

.nav-button {
   display: flex !important;
   align-items: center;
}

.nav-button i {
   color: #b9b9b9;
   margin-right: 20px;
}

.content-block h2 {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 600;
}

/*calendar modal in page modal fix*/
#add-modal .datepicker-container {
   height: auto;
   position: relative;
}

.help-icon {
   display: flex !important;
   align-items: center;
}

.flex-col {
   display: flex;
   align-items: center;
}

.flex-col .input-field {
   width: 100%;
}

.product-table tbody tr:hover {
   background: #dce9f5;
   cursor: pointer;
}

.delete-row-button {
   display: block;
   width: 100%;
   height: 100%;
   color: grey;
}
.delete-row-button:hover {
   color: #de4545;
}